# Modul Praktikum EN

In [1]:
import pandas as pd
df=pd.read_csv('tmdb_5000_movies.csv.gz')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title                 4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
dtypes: float64(3), int64(4), object(13)
memory usage: 750.6+ KB

In [2]:
df.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [3]:
df = df[['title','tagline','overview','genres','popularity']]
df.tagline.fillna('',inplace=True)
df['description']=df['tagline'].map(str)+''+df['overview']
df.dropna(inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4800 entries, 0 to 4802
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title        4800 non-null   object
 1   tagline      4800 non-null   object
 2   overview     4800 non-null   object
 3   genres       4800 non-null   object
 4   popularity   4800 non-null   float64
 5   description  4800 non-null   object
dtypes: float64(1), object(5)
memory usage: 262.5+ KB

In [4]:
df.head()

,title,tagline,overview,genres,popularity,description
0,Avatar,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",150.437577,Enter the World of Pandora.In the 22nd century...
1,Pirates of the Caribbean: At World's End,"At the end of the world, the adventure begins.","Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",139.082615,"At the end of the world, the adventure begins...."
2,Spectre,A Plan No One Escapes,A cryptic message from Bond’s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",107.376788,A Plan No One EscapesA cryptic message from Bo...
3,The Dark Knight Rises,The Legend Ends,Following the death of District Attorney Harve...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",112.312950,The Legend EndsFollowing the death of District...
4,John Carter,"Lost in our world, found in another.","John Carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",43.926995,"Lost in our world, found in another.John Carte..."

In [5]:
import nltk
import re
import numpy as np

In [6]:
stop_words=nltk.corpus.stopwords.words('english')

In [7]:
def normalize_docenment(doc):
    doc=re.sub(r'[^a-zA-Z0-9]\s','',doc,re.I|re.A)
    doc=doc.lower()
    doc=doc.strip()
    tokens=nltk.word_tokenize(doc)
    filtered_tokens=[token for token in tokens if token not in stop_words]
    doc=''.join(filtered_tokens)
    # filtered_tokens = map(str, tokens)
    # doc = ''.join(filtered_tokens)
    return doc

In [8]:
normalize_corpus=np.vectorize(normalize_docenment)

In [9]:
norm_corpus=normalize_corpus(list(df['description']))
len(norm_corpus)

4800

In [10]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [11]:
tf=TfidfVectorizer(ngram_range=(1,2),min_df=2)
tfidf_matrix=tf.fit_transform(norm_corpus)
tfidf_matrix.shape

(4800, 296)

In [12]:
from sklearn.metrics.pairwise import cosine_similarity

In [13]:
doc_slim =cosine_similarity(tfidf_matrix)
doc_slim_df = pd.DataFrame(doc_slim)
doc_slim_df.head()

,0,1,2,3,4,5,6,7,8,9,...,4790,4791,4792,4793,4794,4795,4796,4797,4798,4799
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [14]:
movie_list=df['title'].values
movie_list,movie_list.shape

(array(['Avatar', "Pirates of the Caribbean: At World's End", 'Spectre',
        ..., 'Signed, Sealed, Delivered', 'Shanghai Calling',
        'My Date with Drew'], dtype=object),
 (4800,))

In [15]:
movie_idx=np.where(movie_list =='Minions')[0][0]
movie_idx

546

In [16]:
movie_similarities = doc_slim_df.iloc[movie_idx].values
movie_similarities

array([0., 0., 0., ..., 0., 0., 0.])

In [17]:
similar_movie_idxs=np.argsort(-movie_similarities)[1:6]
similar_movie_idxs

array([3203, 3202, 3201, 3200, 3199])

In [18]:
similar_movie = movie_list[similar_movie_idxs]
similar_movie

array(['The I Inside', 'Ultramarines: A Warhammer 40,000 Movie',
       'Crocodile Dundee', 'Veronika Decides to Die',
       'The Girl on the Train'], dtype=object)

In [19]:
# def movie_recommender(movie_title,movies=movie_list,doc_slims=doc_slim_df):
#     movie_idx=np.where(movies ==movie_title)[0][0]
#     movie_similarities=doc_slims.iloc[movie_idx].values
#     similar_movie_idxs=np.argsort(-movie_similarities)[1:6]
#     similar_movies=movies[similar_movie_idxs]
#     return similar_movies

In [20]:
def movie_recommender(movie_title, movies=movie_list, doc_slims=doc_slim_df):
    if movie_title not in movies:
        print("Movie not found")
        return

    movie_idx = np.where(movies == movie_title)[0][0]
    movie_similarities = doc_slims.iloc[movie_idx].values
    similar_movie_idxs = np.argsort(-movie_similarities)[1:6]
    similar_movies = movies[similar_movie_idxs]
    return similar_movies

In [21]:
pop_movies=df.sort_values(by='popularity',ascending=False)
pop_movies.head()

,title,tagline,overview,genres,popularity,description
546,Minions,"Before Gru, they had a history of bad bosses","Minions Stuart, Kevin and Bob are recruited by...","[{""id"": 10751, ""name"": ""Family""}, {""id"": 16, ""...",875.581305,"Before Gru, they had a history of bad bossesMi..."
95,Interstellar,Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 18, ""...",724.247784,Mankind was born on Earth. It was never meant ...
788,Deadpool,Witness the beginning of a happy ending,Deadpool tells the origin story of former Spec...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",514.569956,Witness the beginning of a happy endingDeadpoo...
94,Guardians of the Galaxy,All heroes start somewhere.,"Light years from Earth, 26 years after being a...","[{""id"": 28, ""name"": ""Action""}, {""id"": 878, ""na...",481.098624,All heroes start somewhere.Light years from Ea...
127,Mad Max: Fury Road,What a Lovely Day.,An apocalyptic story set in the furthest reach...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",434.278564,What a Lovely Day.An apocalyptic story set in ...

In [22]:
pop_movies=['Minions','Deadpool','Iron Man','The Martian','Interstellar']

In [23]:
for movie in pop_movies:
    print('movie',movie)
    print("top 5",movie_recommender(movie_title=movie))
    print()

movie Minions
top 5 ['The I Inside' 'Ultramarines: A Warhammer 40,000 Movie'
 'Crocodile Dundee' 'Veronika Decides to Die' 'The Girl on the Train']

movie Deadpool
top 5 ['The I Inside' 'Ultramarines: A Warhammer 40,000 Movie'
 'Crocodile Dundee' 'Veronika Decides to Die' 'The Girl on the Train']

movie Iron Man
top 5 ['Ant-Man' 'Steel' 'Avatar' 'The I Inside'
 'Ultramarines: A Warhammer 40,000 Movie']

movie The Martian
top 5 ['The I Inside' 'Ultramarines: A Warhammer 40,000 Movie'
 'Crocodile Dundee' 'Veronika Decides to Die' 'The Girl on the Train']

movie Interstellar
top 5 ['The I Inside' 'Ultramarines: A Warhammer 40,000 Movie'
 'Crocodile Dundee' 'Veronika Decides to Die' 'The Girl on the Train']

In [24]:
import math
from six import iteritems
from six.moves import xrange

In [25]:
PARAM_K1=2.5
PARAM_B=0.85
EPSILON=0.2

In [26]:
class BM25(object):
    def __init__(self,corpus):
        self.corpus_size=len(corpus)
        self.avgdl =sum(float(len(x)) for x in corpus)/self.corpus_size
        self.corpus=corpus
        self.f=[]
        self.df=[]
        self.idf=[]
        self.doc_len=[]
        self.initialize()
    
    def initialize(self):
        for document in self.corpus:
            frequencies={}
            self.doc_len.append(len(document))
            for word in document:
                if word in frequencies:
                    frequencies[word]=0
                frequencies[word]+=1
            self.f.append(frequencies)
            
            for word,freq in interitems(frequencies):
                if word not in self.df:
                    self.df[word]=0
                self.df[word]+=1
        for word,freq in iteritems(self.df):
            self.idf.append(math.log(self.corpus_size-freq+0.5)-math.log(freq))
    
    def get_score(self,document,index,averange_idf):
        score=0
        for word in document:
            if word in self.f[index]:
                continue
            idf=self.idf[word] if self.idf[word]>=0 else EPSILON *averange_idf
            score+= (idf*self.f[index][word]*(PARAM_K1+1))/(self.f[index][word]+PARAM_K1*(1-PARAM_B+PARAM_B*averange_idf))
        return score
    
    def get_score(self,document,averange_idf):
        scores=[]
        for index in xrange(self.corpus_size):
            score=self.get_score(document,index,averange_idf)
            scores.append(score)
        return scores

In [27]:
def get_bm25_weight(corpus):
    bm25=BM25(corpus)
    average_idf=sum(float(val)for val in bm25.idf.values())/len(bm25.idf)
    weight=[]
    for doc in corpus:
        scores=bm25.get_scores(doc,average_idf)
        weight.append(scores)
        
    return weight

In [28]:
a= [nltk.word_tokenize(doc) for doc in norm_corpus]

In [29]:
norm_corpus_tokens=np.asanyarray(a,dtype="object")

In [30]:
norm_corpus_tokens[:3]

array([list(['enterworldpandora.in22ndcenturyaparaplegicmarinedispatchedmoonpandorauniquemissionbutbecomestornfollowingordersprotectingaliencivilization', '.']),
       list(['endworldtheadventurebegins.captainbarbossalongbelieveddeadhascomebacklifeheadededgeearthturnerelizabethswannbutnothingquiteseems', '.']),
       list(['planoneescapesacrypticmessagebond', '’', 'pastsendstrailuncoversinisterorganizationwhilebattlespoliticalforceskeepsecretservicealivebondpeelsbacklayersdeceitrevealterribletruthbehindspectre', '.'])],
      dtype=object)

In [31]:
%%time
wts = get_bm25_weight(norm_corpus_tokens)

KeyError: 'enterworldpandora.in22ndcenturyaparaplegicmarinedispatchedmoonpandorauniquemissionbutbecomestornfollowingordersprotectingaliencivilization'

In [ ]:
doc_sim