## pba-modul5-building-ner-tagger-using-pycrfsuite

In [2]:
import pandas as pd
dfpos = pd.read_csv('train_pos.txt', sep='\t', skip_blank_lines=False,encoding='ISO-8859-1')
dfpos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96274 entries, 0 to 96273
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   word    92184 non-null  object
 1   pos     92186 non-null  object
dtypes: object(2)
memory usage: 1.5+ MB

In [3]:
dfpos.shape

(96274, 2)

In [4]:
dfner = pd.read_csv('train_ner.txt', sep='\t', skip_blank_lines=False,encoding='ISO-8859-1')
dfner.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96274 entries, 0 to 96273
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   word    92184 non-null  object
 1   tag     92186 non-null  object
dtypes: object(2)
memory usage: 1.5+ MB

In [5]:
dfner.shape

(96274, 2)

In [6]:
df = pd.merge(dfpos, dfner,left_index=True,right_index=True, how="left")

In [7]:
df.shape

(96274, 4)

In [8]:
df.head()

   word_x    pos  word_y    tag
0  kepala  B-NNO  kepala      O
1   dinas  B-VBP   dinas      O
2    tata  B-NNO    tata      O
3    kota  B-NNO    kota      O
4  manado  B-NNP  manado  B-PLC

In [9]:
df = df.drop(['word_y'], axis=1)

In [10]:
df.head()

   word_x    pos    tag
0  kepala  B-NNO      O
1   dinas  B-VBP      O
2    tata  B-NNO      O
3    kota  B-NNO      O
4  manado  B-NNP  B-PLC

In [11]:
df.word_x.nunique(), df.pos.nunique(), df.tag.nunique()

(15465, 26, 11)

1.2 Tag Distribution

In [12]:
df.tag.value_counts()

tag
O        78436
B-PPL     2960
B-PLC     2592
B-IND     1824
I-PPL     1719
I-IND     1337
I-PLC     1170
I-EVT      994
B-EVT      624
B-FNB      345
I-FNB      185
Name: count, dtype: int64

In [13]:
df.head(28)

           word_x    pos    tag
0          kepala  B-NNO      O
1           dinas  B-VBP      O
2            tata  B-NNO      O
3            kota  B-NNO      O
4          manado  B-NNP  B-PLC
5            amos  B-NNP  B-PPL
6           kenda  B-NNP  I-PPL
7      menyatakan  B-VBT      O
8           tidak  B-NEG      O
9            tahu  B-VBI      O
10              -  B-SYM      O
11         menahu  B-VBT      O
12           soal  B-NNO      O
13     pencabutan  B-NNO      O
14         baliho  B-NNO      O
15              .  B-SYM      O
16             ia  B-PRN      O
17         enggan  B-ADV      O
18    berkomentar  B-VBI      O
19         banyak  B-KUA      O
20         karena  B-CSN      O
21         merasa  B-VBT      O
22          bukan  B-NEG      O
23  kewenangannya  B-NNO      O
24              .  B-SYM      O
25            NaN    NaN    NaN
26             di  B-PPO      O
27         antara  B-PPO      O

In [14]:
df['sentence'] = df.isnull().all(axis=1).cumsum()

In [15]:
df.head(28)

           word_x    pos    tag  sentence
0          kepala  B-NNO      O         0
1           dinas  B-VBP      O         0
2            tata  B-NNO      O         0
3            kota  B-NNO      O         0
4          manado  B-NNP  B-PLC         0
5            amos  B-NNP  B-PPL         0
6           kenda  B-NNP  I-PPL         0
7      menyatakan  B-VBT      O         0
8           tidak  B-NEG      O         0
9            tahu  B-VBI      O         0
10              -  B-SYM      O         0
11         menahu  B-VBT      O         0
12           soal  B-NNO      O         0
13     pencabutan  B-NNO      O         0
14         baliho  B-NNO      O         0
15              .  B-SYM      O         0
16             ia  B-PRN      O         0
17         enggan  B-ADV      O         0
18    berkomentar  B-VBI      O         0
19         banyak  B-KUA      O         0
20         karena  B-CSN      O         0
21         merasa  B-VBT      O         0
22          bukan  B-NEG      O         0
23  kewenangannya  B-NNO      O         0
24              .  B-SYM      O         0
25            NaN    NaN    NaN         1
26             di  B-PPO      O         1
27         antara  B-PPO      O         1

In [16]:
df_new = df.dropna()

In [17]:
df_new.head(28)

           word_x    pos    tag  sentence
0          kepala  B-NNO      O         0
1           dinas  B-VBP      O         0
2            tata  B-NNO      O         0
3            kota  B-NNO      O         0
4          manado  B-NNP  B-PLC         0
5            amos  B-NNP  B-PPL         0
6           kenda  B-NNP  I-PPL         0
7      menyatakan  B-VBT      O         0
8           tidak  B-NEG      O         0
9            tahu  B-VBI      O         0
10              -  B-SYM      O         0
11         menahu  B-VBT      O         0
12           soal  B-NNO      O         0
13     pencabutan  B-NNO      O         0
14         baliho  B-NNO      O         0
15              .  B-SYM      O         0
16             ia  B-PRN      O         0
17         enggan  B-ADV      O         0
18    berkomentar  B-VBI      O         0
19         banyak  B-KUA      O         0
20         karena  B-CSN      O         0
21         merasa  B-VBT      O         0
22          bukan  B-NEG      O         0
23  kewenangannya  B-NNO      O         0
24              .  B-SYM      O         0
26             di  B-PPO      O         1
27         antara  B-PPO      O         1
28         mereka  B-PRN      O         1

In [20]:
class getsentence(object):
    def __init__(self, data):
        self.n_sent = 1.0
        self.data = data
        self.empty = False

        agg_func = lambda s: [(w, p, t) for w, p, t in zip(
            s["word_x"].values.tolist(),
            s["pos"].values.tolist(),
            s["tag"].values.tolist()
        )]

        self.grouped = self.data.groupby("sentence").apply(agg_func)
        self.sentences = [s for s in self.grouped]

In [21]:
getter = getsentence(df_new)

In [22]:
sentences = getter.sentences

In [23]:
sentences[0]

[('kepala', 'B-NNO', 'O'),
 ('dinas', 'B-VBP', 'O'),
 ('tata', 'B-NNO', 'O'),
 ('kota', 'B-NNO', 'O'),
 ('manado', 'B-NNP', 'B-PLC'),
 ('amos', 'B-NNP', 'B-PPL'),
 ('kenda', 'B-NNP', 'I-PPL'),
 ('menyatakan', 'B-VBT', 'O'),
 ('tidak', 'B-NEG', 'O'),
 ('tahu', 'B-VBI', 'O'),
 ('-', 'B-SYM', 'O'),
 ('menahu', 'B-VBT', 'O'),
 ('soal', 'B-NNO', 'O'),
 ('pencabutan', 'B-NNO', 'O'),
 ('baliho', 'B-NNO', 'O'),
 ('.', 'B-SYM', 'O'),
 ('ia', 'B-PRN', 'O'),
 ('enggan', 'B-ADV', 'O'),
 ('berkomentar', 'B-VBI', 'O'),
 ('banyak', 'B-KUA', 'O'),
 ('karena', 'B-CSN', 'O'),
 ('merasa', 'B-VBT', 'O'),
 ('bukan', 'B-NEG', 'O'),
 ('kewenangannya', 'B-NNO', 'O'),
 ('.', 'B-SYM', 'O')]

In [24]:
len(sentences)

4088

In [25]:
train_sents = sentences[0:2860]
test_sents = sentences[2861:]

In [26]:
len(train_sents)

2860

In [27]:
len(test_sents)

1227

1.3 Conditional Random Fields

1.4 Prepare Data

In [28]:
def word2features(sent, i):
    word = sent[i][0]
    postag = sent[i][1]

    features = [
        'bias',
        'word.lower=' + word.lower(),
        'word[-3:]=' + word[-3:],
        'word[-2:]=' + word[-2:],
        'word.isupper=%s' % word.isupper(),
        'word.istitle=%s' % word.istitle(),
        'word.isdigit=%s' % word.isdigit(),
        'postag=' + postag,
        'postag[:2]=' + postag[:2],
    ]

    if i > 0:
        word1, postag1 = sent[i - 1][:2]
        features.extend([
            '-1:word.lower=' + word1.lower(),
            '-1:word.istitle=%s' % word1.istitle(),
            '-1:word.isupper=%s' % word1.isupper(),
            '-1:postag=' + postag1,
            '-1:postag[:2]=' + postag1[:2],
        ])
    else:
        features.append('BOS')

    if i < len(sent) - 1:
        word1, postag1 = sent[i + 1][:2]
        features.extend([
            '+1:word.lower=' + word1.lower(),
            '+1:word.istitle=%s' % word1.istitle(),
            '+1:word.isupper=%s' % word1.isupper(),
            '+1:postag=' + postag1,
            '+1:postag[:2]=' + postag1[:2],
        ])
    else:
        features.append('EOS')

    return features


def sent2features(sent):
    return [word2features(sent, i) for i in range(len(sent))]


def sent2labels(sent):
    return [label for _, _, label in sent]


def sent2tokens(sent):
    return [token for token, _, _ in sent]

In [29]:
sent2features(train_sents[0])[0]

['bias',
 'word.lower=kepala',
 'word[-3:]=ala',
 'word[-2:]=la',
 'word.isupper=False',
 'word.istitle=False',
 'word.isdigit=False',
 'postag=B-NNO',
 'postag[:2]=B-',
 'BOS',
 '+1:word.lower=dinas',
 '+1:word.istitle=False',
 '+1:word.isupper=False',
 '+1:postag=B-VBP',
 '+1:postag[:2]=B-']

In [30]:
%%time
X_train = [sent2features(s) for s in train_sents]
y_train = [sent2labels(s) for s in train_sents]
X_test = [sent2features(s) for s in test_sents]
y_test = [sent2labels(s) for s in test_sents]

CPU times: user 397 ms, sys: 49 ms, total: 446 ms
Wall time: 446 ms

Building Models with pycrfsuite

In [31]:
!pip install python-crfsuite

Requirement already satisfied: python-crfsuite in /home/krisna/anaconda3/lib/python3.11/site-packages (0.9.9)

In [32]:
import pycrfsuite

In [33]:
%%time
trainer = pycrfsuite.Trainer(verbose=False)
for xseq, yseq in zip(X_train, y_train):
    trainer.append(xseq, yseq)

CPU times: user 583 ms, sys: 36.3 ms, total: 620 ms
Wall time: 619 ms

In [34]:
trainer.set_params({
    'c1': 1.0,                  # coefficient for L1 penalty
    'c2': 1e-3,                 # coefficient for L2 penalty
    'max_iterations': 50,       # stop earlier
    'feature.possible_transitions': True  # include transitions that are possible, but not observed
})

In [35]:
%%time
trainer.train('id_ner_test')

CPU times: user 3.73 s, sys: 13.6 ms, total: 3.75 s
Wall time: 3.75 s

In [36]:
trainer.logparser.last_iteration

{'num': 50,
 'scores': {},
 'loss': 10209.036876,
 'feature_norm': 73.83264,
 'error_norm': 382.962981,
 'active_features': 5754,
 'linesearch_trials': 1,
 'linesearch_step': 1.0,
 'time': 0.061}

In [37]:
print(len(trainer.logparser.iterations), trainer.logparser.iterations[-1])

50 {'num': 50, 'scores': {}, 'loss': 10209.036876, 'feature_norm': 73.83264, 'error_norm': 382.962981, 'active_features': 5754, 'linesearch_trials': 1, 'linesearch_step': 1.0, 'time': 0.061}

3.1 Make predictions

In [38]:
tagger = pycrfsuite.Tagger()
tagger.open('id_ner_test')

In [39]:
def sent2tokens(sent):
    return [token for token, postag, label in sent]

In [40]:
X_test[0][0]

['bias',
 'word.lower=tidak',
 'word[-3:]=dak',
 'word[-2:]=ak',
 'word.isupper=False',
 'word.istitle=False',
 'word.isdigit=False',
 'postag=B-NEG',
 'postag[:2]=B-',
 'BOS',
 '+1:word.lower=ada',
 '+1:word.istitle=False',
 '+1:word.isupper=False',
 '+1:postag=B-VBE',
 '+1:postag[:2]=B-']

In [41]:
example_sent = test_sents[0]
print(' '.join(sent2tokens(example_sent)), end='\n\n')
print("Predicted:", ' '.join(tagger.tag(sent2features(example_sent))))
print("Correct: ", ' '.join(sent2labels(example_sent)))

tidak ada korban dilaporkan pada pihak israel , sabtu , walaupun roket dan bom-bom mortir menghantam israel sepanjang hari itu termasuk satu yang telah dicegat di daerah tel aviv , kata militer .

Predicted: O O O O O O B-PLC O O O O O O O O O B-PLC O O O O O O O O O O B-PLC I-PLC O O O O
Correct:  O O O O O O B-PLC O O O O O O O O O B-PLC O O O O O O O O O O B-PLC I-PLC O O O O

4 Evaluate the model

In [42]:
from itertools import chain
import nltk
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.preprocessing import LabelBinarizer
import sklearn

In [43]:
def bio_classification_report(y_true, y_pred):
    """
    Classification report for a list of BIO-encoded sequences.
    It computes token-level metrics and discards "O" labels.
    Note that it requires scikit-learn 0.15+ (or a version from github master)
    to calculate averages properly!
    """
    lb = LabelBinarizer()
    y_true_combined = lb.fit_transform(list(chain.from_iterable(y_true)))
    y_pred_combined = lb.transform(list(chain.from_iterable(y_pred)))
    
    tagset = set(lb.classes_) - {'O'}
    tagset = sorted(tagset, key=lambda tag: tag.split('-', 1)[::-1])
    class_indices = {cls: idx for idx, cls in enumerate(lb.classes_)}
    
    return classification_report(
        y_true_combined,
        y_pred_combined,
        labels=[class_indices[cls] for cls in tagset],
        target_names=tagset
    )

In [44]:
%%time
y_pred = [tagger.tag(xseq) for xseq in X_test]

CPU times: user 271 ms, sys: 8.06 ms, total: 279 ms
Wall time: 282 ms

In [45]:
print(bio_classification_report(y_test, y_pred))

              precision    recall  f1-score   support

       B-EVT       0.61      0.34      0.44       184
       I-EVT       0.34      0.33      0.33       286
       B-FNB       0.77      0.26      0.39       104
       I-FNB       0.82      0.35      0.49        51
       B-IND       0.82      0.46      0.59       548
       I-IND       0.71      0.57      0.63       428
       B-PLC       0.81      0.71      0.76       803
       I-PLC       0.72      0.62      0.67       347
       B-PPL       0.74      0.71      0.73       887
       I-PPL       0.71      0.75      0.73       546

   micro avg       0.72      0.60      0.66      4184
   macro avg       0.70      0.51      0.58      4184
weighted avg       0.72      0.60      0.65      4184
 samples avg       0.09      0.09      0.09      4184

/home/krisna/anaconda3/lib/python3.11/site-packages/sklearn/metrics/_classification.py:1469: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in samples with no predicted labels. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/home/krisna/anaconda3/lib/python3.11/site-packages/sklearn/metrics/_classification.py:1469: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in samples with no true labels. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [46]:
from collections import Counter

info = tagger.info()

def print_transitions(trans_features):
    for (label_from, label_to), weight in trans_features:
        print("%-6s -> %-7s %0.6f" % (label_from, label_to, weight))

print("Top likely transitions:")
print_transitions(Counter(info.transitions).most_common(15))

print("\nTop unlikely transitions:")
print_transitions(Counter(info.transitions).most_common()[-15:])

Top likely transitions:
B-EVT  -> I-EVT   5.442193
I-EVT  -> I-EVT   5.362419
I-PLC  -> I-PLC   4.551782
B-FNB  -> I-FNB   4.524851
B-PLC  -> I-PLC   4.384016
B-IND  -> I-IND   3.825724
I-FNB  -> I-FNB   3.495212
I-IND  -> I-IND   3.442589
B-PPL  -> I-PPL   3.306057
I-PPL  -> I-PPL   2.492893
O      -> B-EVT   2.011393
O      -> O       1.197478
B-PLC  -> B-PPL   1.010612
O      -> B-PPL   0.872925
I-PLC  -> B-PPL   0.623295

Top unlikely transitions:
B-PPL  -> I-FNB   -1.776997
B-EVT  -> I-PPL   -1.841824
B-PPL  -> B-IND   -1.887235
B-PLC  -> I-IND   -2.211289
I-EVT  -> I-PPL   -2.230949
B-PPL  -> I-IND   -2.342394
I-PLC  -> I-PPL   -2.683869
O      -> I-EVT   -2.736554
I-IND  -> I-PPL   -2.991321
B-IND  -> I-PPL   -3.006000
B-PLC  -> I-PPL   -3.210360
O      -> I-FNB   -3.433683
O      -> I-PLC   -4.139381
O      -> I-IND   -4.462914
O      -> I-PPL   -4.905335

In [47]:
def print_state_features(state_features):
    for (attr, label), weight in state_features:
        print("%0.6f %-6s %s" % (weight, label, attr))
        
print("Top positive:")
print_state_features(Counter(info.state_features).most_common(20))
print("\nTop negative:")
print_state_features(Counter(info.state_features).most_common()[-20:])

Top positive:
8.961001 B-FNB  word.lower=nasi
6.555337 B-IND  word.lower=arsenal
5.533903 B-PLC  -1:word.lower=berdarah
5.200576 B-IND  word.lower=skuter
5.124560 B-FNB  word.lower=rendang
4.887663 B-EVT  word.lower=wisuda
4.841133 B-FNB  word.lower=sate
4.819712 B-IND  word.lower=instagram
4.565449 B-PLC  word.lower=pakistan
4.549857 B-FNB  word.lower=pisang
4.423253 B-EVT  word.lower=pilkada
4.338747 B-PLC  word.lower=kecamatan
4.332411 O      postag=B-CSN
4.310374 B-EVT  +1:word.lower=olahraga
4.301074 B-IND  word.lower=leicester
4.267920 B-PLC  word.lower=singkawang
4.144854 B-IND  -1:word.lower=ka
4.099111 O      postag=B-SYM
4.092291 B-PLC  word.lower=singapura
3.890772 B-EVT  word.lower=olimpiade

Top negative:
-1.651780 I-PLC  -1:word.lower=indonesia
-1.655243 I-PLC  postag=B-SYM
-1.681434 B-PPL  word[-3:]=com
-1.684919 O      +1:word.lower=
-1.696493 O      word.lower=predator
-1.717512 O      word[-2:]=hi
-1.723345 O      word.lower=mata
-1.761105 O      word[-3:]=gia
-1.780571 O      word.lower=pernikahan
-1.785327 O      -1:word.lower=mengalahkan
-1.810150 O      word[-3:]=das
-1.829054 O      word[-3:]=lia
-1.916484 O      word[-3:]=oni
-1.972927 O      -1:word.lower=perayaan
-2.117572 O      word.lower=malang
-2.360624 B-IND  word.isdigit=True
-2.480714 O      +1:word.lower=--
-2.487272 O      postag=B-NNP
-3.193641 O      word.lower=ikan
-3.944247 O      word.lower=lebaran